<div class="wrap">
    <header id="header">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <button id="primary-nav-button" type="button">Menu</button>
            <a href="index.html">
              <div class="logo">
                <!-- <img src="assets/img/logo.png" alt="Venue Logo"> -->
              </div>
            </a>
            <nav id="primary-nav" class="dropdown cf">
              <ul class="dropdown menu">
                <li class='active' routerLink="overview"><a>Home</a></li>
                <li class='active' routerLink="prediction"><a>Prediction</a></li>

                <li *ngIf="userRole === 'manager' || userRole === 'fournisseur'">
                  <a routerLink="fournisseur" class="nav-link">Fournisseur Dashboard</a>
                </li>
                <li *ngIf="userRole === 'manager' || userRole === 'article'">
                  <a routerLink="article" class="nav-link">Article Dashboard</a>
                </li>
                <li *ngIf="userRole === 'manager' || userRole === 'client'">
                  <a routerLink="client" class="nav-link">Client Dashboard</a>
                </li>
                <li *ngIf="!userRole"><a class="nav-link" routerLink="/">Login</a></li>
                <li *ngIf="userRole"><a class="nav-link" (click)="onLogout()" routerLink="">Log Out</a></li>
              </ul>
            </nav><!-- / #primary-nav -->
          </div>
        </div>
      </div>
    </header>
  </div>
  
  <div #container></div>
  